<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>&nbsp;
      <!-- Dashboard Link-->
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-list-item"
      >
        Dashboard </a
      >&nbsp;

      <a mat-list-item routerLink="profile" *ngIf="auth.loggedIn">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>StockMaster</span>
      <span class="fill-space"></span>
      <a mat-raised-button (click)="auth.login()" *ngIf="!auth.loggedIn"
        >Log In</a
      >
      <a mat-raised-button (click)="auth.logout()" *ngIf="auth.loggedIn"
        >Log Out</a
      >
    </mat-toolbar>
    <div class="container">
      HEADER
    </div>
    <span>{{ title }} app is running!</span>
    <!-- routed components -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
